src/catalogs/phing-grammar.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ============================================================================
  DTD file for Phing build files.

  Phing homepage: https://www.phing.info/
  Phing documentation: https://www.phing.info/docs/stable/hlhtml/index.html

  Note: This DTD DOES NOT PROVIDE all possibilities which Phing offer but
  it just contains all core and optional tasks and other elements (project,
  target etc.)

  The target is simple - provides simple autocomplete inside the Komodo Edit
  for Phing build files.

  Author: Ondřej Doněk, <ondrejd@gmail.com>
  License: Mozilla Public License 2.0, https://www.mozilla.org/MPL/2.0
  ============================================================================
-->

<!-- Used in ChmodTask, ChownTask and others. -->
<!ENTITY % QuietFailVerboseAttList "quiet (true|false) 'false'
                                    failonerror (true|false) 'true'
                                    verbose (true|false) 'true'">

<!--
  ============================================================================
  Project element

  See: https://www.phing.info/docs/stable/hlhtml/index.html#Project
  ============================================================================
-->
<!ELEMENT project (property|selector|target)*>
<!ATTLIST project
	name CDATA #IMPLIED
	basedir CDATA #IMPLIED
	description CDATA #IMPLIED
	default CDATA #REQUIRED
	phingVersion CDATA #IMPLIED
>

<!--
  ============================================================================
  Target element

  See: https://www.phing.info/docs/stable/hlhtml/index.html#Target
  ============================================================================
-->
<!ELEMENT target (adhoc-task|adhoc-type|append|apply|available|basename|chmod|
                  chown|condition|copy|cvs|cvspass|delete|diagnostics|dirname|
                  echo)>
<!ATTLIST target
	depends CDATA #IMPLIED
	description CDATA #IMPLIED
	if CDATA #IMPLIED
	name ID #REQUIRED
	unless CDATA #IMPLIED
	hidden (true|false) "false"
	logskipped (true|false) "false"
>

<!--
  ============================================================================
  AdhocTaskdefTask

  See: https://www.phing.info/docs/stable/hlhtml/index.html#AdhocTaskdefTask
  ============================================================================
-->
<!ELEMENT adhoc-task (#PCDATA)>
<!ATTLIST adhoc-task name ID #REQUIRED>

<!--
  ============================================================================
  AdhocTypedefTask

  See: https://www.phing.info/docs/stable/hlhtml/index.html#AdhocTypedefTask
  ============================================================================
-->
<!ELEMENT adhoc-type (#PCDATA)>
<!ATTLIST adhoc-type name ID #REQUIRED>

<!--
  ============================================================================
  AppendTask

  See: https://www.phing.info/docs/stable/hlhtml/index.html#AppendTask
  ============================================================================
-->
<!ELEMENT append (filelist|fileset|filterchain)*>
<!ATTLIST append
	destFile CDATA #REQUIRED
	file CDATA #IMPLIED
	text CDATA #IMPLIED
>

<!--
  ============================================================================
  ApplyTask

  See: https://www.phing.info/docs/stable/hlhtml/index.html#ApplyTask
  ============================================================================
-->
<!ELEMENT apply (arg+,(fileset|filelist|srcfile))*>
<!ATTLIST apply
	executable CDATA #IMPLIED
	dir CDATA #IMPLIED
	output CDATA #IMPLIED
	error CDATA #IMPLIED
	os CDATA #IMPLIED
	escape (true|false) "false"
	passthru (true|false) "false"
	spawn (true|false) "false"
	returnProperty CDATA #IMPLIED
	outputProperty CDATA #IMPLIED
	checkreturn (true|false) "false"
	append (true|false) "false"
	parallel (true|false) "false"
	addsourcefile (true|false) "true"
	relative (true|false) "false"
	forwardslash (true|false) "false"
	maxparallel (true|false) "false"
>

<!ELEMENT arg EMPTY>
<!ATTLIST arg
	value CDATA #IMPLIED
	file CDATA #IMPLIED
	path CDATA #IMPLIED
	line CDATA #IMPLIED
>

<!ELEMENT srcfile EMPTY>

<!--
  ============================================================================
  AvailableTask

  See: https://www.phing.info/docs/stable/hlhtml/index.html#AvailableTask
  ============================================================================
  
  TODO The AvailableTask can also be used as a condition.
  See: https://www.phing.info/docs/stable/hlhtml/index.html#conditions
-->
<!ELEMENT available EMPTY>
<!ATTLIST available 
	property CDATA #REQUIRED
	value CDATA #IMPLIED
	file CDATA #IMPLIED
	resource CDATA #IMPLIED
	extension CDATA #IMPLIED
	type (file|dir) #IMPLIED
	filepath CDATA #IMPLIED
	followSymlinks (true|false) "false"
>

<!--
  ============================================================================
  Basename

  See: https://www.phing.info/docs/stable/hlhtml/index.html#Basename
  ============================================================================
-->
<!ELEMENT basename EMPTY>
<!ATTLIST basename
	property CDATA #REQUIRED
	file CDATA #REQUIRED
	suffix CDATA #IMPLIED
>

<!--
  ============================================================================
  ChmodTask

  See: https://www.phing.info/docs/stable/hlhtml/index.html#ChmodTask
  ============================================================================
-->
<!ELEMENT chmod (fileset?)>
<!ATTLIST chmod
	file CDATA #REQUIRED
	mode CDATA #REQUIRED
	%QuietFailVerboseAttList;
>

<!--
  ============================================================================
  ChownTask

  See: https://www.phing.info/docs/stable/hlhtml/index.html#ChownTask
  ============================================================================
-->
<!ELEMENT chown (fileset?)>
<!ATTLIST chown
	file CDATA #REQUIRED
	user CDATA #IMPLIED
	group CDATA #IMPLIED
	%QuietFailVerboseAttList;
>

<!--
  ============================================================================
  ConditionTask

  See: https://www.phing.info/docs/stable/hlhtml/index.html#ConditionTask
  ============================================================================
  
  TODO We have trable with <or> or <and> subelements because they have 
       same name as some of the selector containers.
-->
<!ELEMENT condition ANY>
<!ATTLIST condition
	property CDATA #REQUIRED
	value CDATA #IMPLIED
>

<!--
  ============================================================================
  CopyTask

  See: https://www.phing.info/docs/stable/hlhtml/index.html#CopyTask
  ============================================================================
-->
<!ELEMENT copy (fileset|filelist|filterchain|mapper)*>
<!ATTLIST copy
	file CDATA #REQUIRED
	tofile CDATA #IMPLIED
	todir CDATA #IMPLIED
	overwrite (true|false) "false"
	tstamp (true|false) "false"
	preservelastmodified (true|false) "false"
	preservemode (true|false) "true"
	preservepermissions (true|false) "true"
	includeemptydirs (true|false) "true"
	mode CDATA #IMPLIED
	haltonerror (true|false) "true"
>

<!--
  ============================================================================
  CvsTask

  See: https://www.phing.info/docs/stable/hlhtml/index.html#CvsTask
  ============================================================================
  
  TODO There is an inconstitance in Phing documentation on this task!
-->
<!ELEMENT cvs EMPTY>
<!ATTLIST cvs
	cvsRoot CDATA #IMPLIED
	CvsRsh CDATA #IMPLIED
	port CDATA "0"
	passfile CDATA #IMPLIED
	dest CDATA #REQUIRED
	module CDATA #IMPLIED
	tag CDATA #IMPLIED
	date CDATA #IMPLIED
	quiet (true|false) "false"
	noexec (true|false) "false"
	failonerror (true|false) "false"
	compression (true|false) "false"
	compressionlevel (1|2|3|4|5|6|7|8|9)
	output CDATA #IMPLIED
	error CDATA #IMPLIED
	command CDATA #IMPLIED
>

<!--
  ============================================================================
  CvsPassTask

  See: https://www.phing.info/docs/stable/hlhtml/index.html#CvsPassTask
  ============================================================================
-->
<!ELEMENT cvspass EMPTY>
<!ATTLIST cvspass
	cvsRoot CDATA #REQUIRED
	passFile CDATA #IMPLIED
	password CDATA #REQUIRED
>

<!--
  ============================================================================
  DeleteTask

  See: https://www.phing.info/docs/stable/hlhtml/index.html#DeleteTask
  ============================================================================
-->
<!ELEMENT delete (fileset?)>
<!ATTLIST delete
	file CDATA #IMPLIED
	dir CDATA #IMPLIED
	includeemptydirs (true|false) "false"
	%QuietFailVerboseAttList;
>

<!--
  ============================================================================
  DiagnosticsTask

  See: https://www.phing.info/docs/stable/hlhtml/index.html#DiagnosticsTask
  ============================================================================
-->
<!ELEMENT diagnostics EMPTY>

<!--
  ============================================================================
  Dirname

  See: https://www.phing.info/docs/stable/hlhtml/index.html#Dirname
  ============================================================================
-->
<!ELEMENT dirname EMPTY>
<!ATTLIST dirname
	file CDATA #REQUIRED
	property CDATA #REQUIRED
>

<!--
  ============================================================================
  EchoTask

  See: https://www.phing.info/docs/stable/hlhtml/index.html#EchoTask
  ============================================================================
-->
<!ELEMENT echo (#PCDATA|fileset?)>
<!ATTLIST echo
	msg CDATA #IMPLIED
	message CDATA #IMPLIED
	file CDATA #IMPLIED
	append (true|false) "false"
	level (error|warning|info|verbose|debug) "info"
>




<!--

XXX ....

-->


<!--
  ============================================================================
  PropertyTask

  See: https://www.phing.info/docs/stable/hlhtml/index.html#PropertyTask
  ============================================================================
-->
<!ELEMENT property (filterchain?)>
<!ATTLIST property
	name ID #IMPLIED
	value CDATA #IMPLIED
	environment CDATA #IMPLIED
	file CDATA #IMPLIED
	override (true|false) "false"
	prefix CDATA #IMPLIED
	refid IDREF #IMPLIED
	fallback CDATA #IMPLIED
	logoutput (true|false) "true"
>

<!--
  ============================================================================
  FileList

  See: https://www.phing.info/docs/stable/hlhtml/index.html#FileList
  ============================================================================
-->
<!ELEMENT filelist EMPTY>
<!ATTLIST filelist
	dir CDATA #REQUIRED
	files CDATA #IMPLIED
	listfile CDATA #IMPLIED
>

<!--
  ============================================================================
  FileSet

  See: https://www.phing.info/docs/stable/hlhtml/index.html#FileSet
  ============================================================================
-->
<!ELEMENT fileset (include|exclude|patternset|contains|date|depend|depth|filename|present|containsregexp|size|type|and|majority|none|not|or)*>
<!ATTLIST fileset
	dir CDATA #REQUIRED
	defaultexcludes (true|false) "true"
	casesensitive (true|false) "true"
	expandsymboliclinks (true|false) "false"
	includes CDATA #IMPLIED
	includesfile CDATA #IMPLIED
	excludes CDATA #IMPLIED
	excludesfile CDATA #IMPLIED
>

<!--
  ============================================================================
  Core filters

  See: https://www.phing.info/docs/stable/hlhtml/index.html#app.corefilters
  ============================================================================
-->
<!ELEMENT filterchain ANY>

<!--
  ============================================================================
  Core selectors

  See: https://www.phing.info/docs/stable/hlhtml/index.html#app.selectors
  ============================================================================
-->
<!ELEMENT contains EMPTY>
<!ATTLIST contains
	text CDATA #REQUIRED
	casesensitive (true|false) "true"
>

<!ELEMENT date EMPTY>
<!ATTLIST date
	datetime CDATA #IMPLIED
	seconds CDATA #IMPLIED
	when (before|after|equal) "equal"
	granularity CDATA "0"
	checkdirs (true|false) "false"
>

<!ELEMENT depend EMPTY>
<!ATTLIST depend
	targetdir CDATA #REQUIRED
	granularity CDATA "0"
>

<!ELEMENT depth EMPTY>
<!ATTLIST depth
	min CDATA #IMPLIED
	max CDATA #IMPLIED
>

<!ELEMENT filename EMPTY>
<!ATTLIST filename
	name CDATA #REQUIRED
	casesensitive (true|false) "true"
	negate (true|false) "false"
>

<!ELEMENT present EMPTY>
<!ATTLIST present
	targetdir CDATA #REQUIRED
	present (srconly|both) "both"
>

<!ELEMENT containsregexp EMPTY>
<!ATTLIST containsregexp
	expression CDATA #REQUIRED
	casesensitive (true|false) "true"
>

<!ELEMENT size EMPTY>
<!ATTLIST size
	value CDATA #REQUIRED
	units CDATA #IMPLIED
	when (less|more|equal) "equal"
>

<!ELEMENT type EMPTY>
<!ATTLIST type
	when (file|dir) #REQUIRED
>

<!-- Selector containers: -->
<!ELEMENT and (contains|date|depend|depth|filename|present|containsregexp|size|type)>
<!ELEMENT majority (contains|date|depend|depth|filename|present|containsregexp|size|type)>
<!ELEMENT none (contains|date|depend|depth|filename|present|containsregexp|size|type)>
<!ELEMENT not (contains|date|depend|depth|filename|present|containsregexp|size|type)>
<!ELEMENT or (contains|date|depend|depth|filename|present|containsregexp|size|type)>

<!-- Contains only one selector and forwards all requests to it without
   - alteration. This is the selector to use if you want to define a reference.
   - It is usable as an element of <project>.
   -->
<!ELEMENT selector (contains|date|depend|depth|filename|present|containsregexp|size|type|and|majority|none|not|or)>














































